<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.weibeld.example">

    <!--
      If using a Toolbar as the activities' app bars (instead of the default ActionBar), must use
      a theme inheriting from Theme.AppCompat.*.NoActionBar. This prevents the default ActionBar
      from showing up.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SINUSOID"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="org.weibeld.example.tabs.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tabs.Codejam"/>
        <activity android:name=".tabs.Hackathon"/>
        <activity android:name=".tabs.Robowar"/>
        <activity android:name=".tabs.BugHunter"/>


    </application>

</manifest>